@font-face {
  font-family: "HelveticaNeueLTStd";
  src: url("../fonts/HelveticaNeueLTStd-Th.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Th.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLTStd";
  src: url("../fonts/HelveticaNeueLTStd-ThIt.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-ThIt.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLTStd";
  src: url("../fonts/HelveticaNeueLTStd-LtIt.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtIt.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLTStd";
  src: url("../fonts/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Hv.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLTStd";
  src: url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/**********************/
@font-face {
  font-family: "HelveticaNeueLTStd-Th";
  src: url("../fonts/HelveticaNeueLTStd-Th.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Th.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLTStd-ThIt";
  src: url("../fonts/HelveticaNeueLTStd-ThIt.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-ThIt.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLTStd-LtIt";
  src: url("../fonts/HelveticaNeueLTStd-LtIt.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtIt.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLTStd-Hv";
  src: url("../fonts/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Hv.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLTStd-Bd";
  src: url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.gs-dev-tools {
  z-index: 100;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto",sans-serif;
}

h1, h2, h3, h4, h5, p, span {
  padding: 0;
  margin: 0;
}

svg {
  width: 100%;
  height: 100%;
}

foreignObject {
  overflow: initial;
}

.btnVersion {
  position: relative;
  z-index: 20;
}

.pointBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.pointBg svg {
  width: 100%;
  height: 100%;
}

.main_animation_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  background: #F2F2F2;
}

.main_animation_container * {
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.main_animation_container .bgColor {
  opacity: 0;
  visibility: hidden;
}

.main_animation_container .moveElements > * {
  will-change: transform;
}

.pointBg {
  opacity: 0;
  z-index: 0;
}

.pointBgTempPos {
  display: none;
}

.secAnim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.secAnim .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 5% 10%;
}

.secAnim .imgCon,
.secAnim .imgBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.secAnim .imgCon img,
.secAnim .imgBg img {
  width: 100%;
  height: auto;
}

.secAnim .imgCon svg,
.secAnim .imgBg svg {
  width: 100%;
  height: 100%;
}

.secAnim .textContent {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dearPlusRewards .text1 .textContent {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dearPlusRewards .text1 p {
  line-height: 1em;
  font-family: 'HelveticaNeueLTStd-ThIt';
  font-size: 336.497px;
  color: #002C4F;
}

.dearPlusRewards .text2 p {
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1em;
  font-family: "HelveticaNeueLTStd-Bd";
  letter-spacing: -1;
  font-size: 151.0856px;
  color: #012B48;
}
/*# sourceMappingURL=animStyle.css.map */